<div class="container section text-center" id="Jobs">
    <div class="row">
        <div class="col-lg-3">
            <div class="contentJob">
                <div class="top-left ">
                    <p class="card-title font-weight-bold">{{.Fields.IMG1}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="contentJob">
                <div class="top-left text-left">
                    <p class="card-title font-weight-bold">{{.Fields.IMG2}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="contentJob">
                <div class="top-left ">
                    <p class="card-title font-weight-bold">{{.Fields.IMG3}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="contentJob">
                <div class="top-left text-left">
                    <p class="card-title font-weight-bold">{{.Params.IMG4}}</p>
                </div>
            </div>
        </div>
    </div>
</div>